@media (max-width: 61em) {
  html {
    font-size: 60.5%; /* 1rem = 10px if the default font size is 16px */
  }
  .bar-second {
    margin-left: 2.4rem;
  }
}
@media (max-width: 58em) {
  html {
    font-size: 53.5%;
  }
  .container {
    flex-direction: column;
  }
  .bar-second {
    margin-left: 0;
  }
}
@media (max-width: 54em) {
  html {
    font-size: 46.5%;
  }
}
@media (max-width: 47em) {
  html {
    font-size: 40.5%;
  }
}
@media (max-width: 40em) {
  html {
    font-size: 32.5%;
  }
}
@media (max-width: 33em) {
  html {
    font-size: 27.5%;
  }
}
@media (max-width: 27em) {
  html {
    font-size: 21.5%;
  }
}
